main
    .main-slider-wrap
        .main-slider
            div.main-slider__item
                .slider-img-wrap
                    .img-cont
                        img(src="img/header-slide-1.jpg" alt="slider-img")
                .slider-desc
                    .desc
                        .desc__title Bring Light to every
                        .desc__text Lights engineered for supreme efficiency
                        a(href="#").btn.desc-btn Discover collection
            div.main-slider__item
                .slider-img-wrap
                    .img-cont
                        img(src="img/header-slide-2.jpg" alt="slider-img")
                .slider-desc
                    .desc
                        .desc__title Bring Light to every
                        .desc__text Lights engineered for supreme efficiency
                        a(href="#").btn.desc-btn Discover collection
            div.main-slider__item
                .slider-img-wrap
                    .img-cont
                        img(src="img/header-slide-3.jpg" alt="slider-img")
                .slider-desc
                    .desc
                        .desc__title Bring Light to every
                        .desc__text Lights engineered for supreme efficiency
                        a(href="#").btn.desc-btn Discover collection
    section
        .container
            .promo-banners-container
                .row
                    .col-md-4
                        .promo-banner
                            .title-wrapper
                                span.big Custom wheels & rims
                                span.small it`s all about style and perfomance
                            img(src="img/promo_banner1.jpg" alt="promo banner").promo-img.img-responsive
                    .col-md-8
                        .promo-banner
                            .title-wrapper
                                span.big Custom wheels & rims
                                span.small it`s all about style and perfomance
                            img(src="img/promo_banner2.jpg" alt="promo banner").promo-img.img-responsive
                        .row
                            .col-md-12
                                .promo-banner
                                    .title-wrapper
                                        span.big Custom wheels & rims
                                    img(src="img/promo_banner3.jpg" alt="promo banner").promo-img.img-responsive
                            .col-md-12
                                .promo-banner
                                    .title-wrapper
                                        span.big Custom wheels & rims
                                    img(src="img/promo_banner4.jpg" alt="promo banner").promo-img.img-responsive
                    .col-md-12
                        .promo-banner
                            .title-wrapper
                                span.big Custom wheels & rims
                                span.small it`s all about style and perfomance
                            img(src="img/promo_banner5.jpg" alt="promo banner").promo-img.img-responsive
    section
        .wheels-banner
            .cotainer
                .row
                    .col-sm-12
                        .wheels-img-wrap
                            .img-cont
                                img(src="img/turbina.png")
                                //img(src="img/tyre.png")
                    .col-sm-12
                        .wheels-img-text-wrap
                            .wheels-img-text-inner
                                h1 Турбіни
                                p
                                    span.from-only ВІД
                                    //| from
                                    //br
                                    //|  only
                                h2 $199.99
                                br
                                a.btn.wheels-btn детально

    section
        .container
            .our-client
                .slider-title
                    h4 Ми постачаємо для
                .brands-slider
                    div.brands-slider__item
                        .item-inner
                            .slider-img-wrap
                                .img-cont
                                    img(src="img/car-logo/opel-logo.png")
                    div.brands-slider__item
                        .item-inner
                            .slider-img-wrap
                                .img-cont
                                    img(src="img/car-logo/Audi-logo.png")
                    div.brands-slider__item
                        .item-inner
                            .slider-img-wrap
                                .img-cont
                                    img(src="img/car-logo/Bentley-symbol.png")
                    div.brands-slider__item
                        .item-inner
                            .slider-img-wrap
                                .img-cont
                                    img(src="img/car-logo/BMW-logo.png")
                    div.brands-slider__item
                        .item-inner
                            .slider-img-wrap
                                .img-cont
                                    img(src="img/car-logo/Chevrolet-logo.png")
                    div.brands-slider__item
                        .item-inner
                            .slider-img-wrap
                                .img-cont
                                    img(src="img/car-logo/Mercedes-Benz.png")
                    div.brands-slider__item
                        .item-inner
                            .slider-img-wrap
                                .img-cont
                                    img(src="img/car-logo/mitsubishi-logo.png")
                    div.brands-slider__item
                        .item-inner
                            .slider-img-wrap
                                .img-cont
                                    img(src="img/car-logo/Renault_logo.png")
                    div.brands-slider__item
                        .item-inner
                            .slider-img-wrap
                                .img-cont
                                    img(src="img/car-logo/volkswagen-9.svg")
    section
        .container
            .row
                .call-form
                    .col-md-12
                        .call-form__left
                            p
                                span Передзвоніть
                                | мені
                    .col-md-12
                        .call-form__right
                            .form-menu-container
                                form
                                    input
                                    .input-group-btn
                                            button(type=submit)
                                                span OK
