head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta#myViewport(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
	meta(name='author', content='')
	title=title
	// Bootstrap core CSS
	link(href='js/slick/slick-theme.css' rel='stylesheet')
	link(href='js/slick/slick.css' rel='stylesheet')
	// init bx-slider css start
	link(href='js/jquery.bxslider/jquery.bxslider.css', rel='stylesheet')
	// init bx-slider css end
	link(href='css/all.css', rel='stylesheet')

	//- font-family: 'Roboto', sans-serif;
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,300italic,400italic,500italic,700italic,900&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
	link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
	link(rel="shortcut icon" href="img/logo.png")
	// - font awesome
	link(rel="stylesheet" href="packages/font-awesome/css/font-awesome.min.css")
