//---------- java script links start----------
//--------------------------------------------


//script(src='js/jquery.validate.min.js')
script(src='js/jquery-3.3.1.min.js')
//script(src='js/jquery.mask.min.js')
//- script(src='js/jquery.mCustomScrollbar.concat.min.js')
//- script(src='js/bs-js/transition.js')
//script(src='js/bs-js/modal.js')
//- script(src='js/owl.carousel.min.js')
//script(src='js/modals.js')

script(src='js/slick/slick.min.js')
script(src='js/bootstrap-select.min.js')

// -- bx-slider init start---//
script(src='js/jquery.bxslider/jquery.bxslider.min.js')

script(src='js/main.js')
//script(defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")

//--------------------------------------------
//---------- java script links end------------
//--------------------------------------------
script(src='js/bs-js/collapse.js')
script(src='js/bs-js/transition.js')
script(src='js/bs-js/tab.js')
script(src='js/bs-js/dropdown.js')